/* login.css */

/* Container styles */
.login-page-background {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #4a4a4a;
}

.login-form {
  background-color: #5d5d5d;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 320px;
  text-align: center;
}

#title-of-login-box {
  margin-bottom: 20px;
}

/* Form input styles */
.box-label {
  width: calc(100% - 24px); /* Adjusted width to accommodate padding */
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

/* Submit button styles */
#submit-button {
  width: 100%;
  padding: 12px;
  background-color: #f05d5e;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

#submit-button:hover {
  background-color: #e55455;
}

/* Register button styles */
button {
  background: none;
  border: none;
  color: #007bff;
  text-decoration: underline;
  cursor: pointer;
}

button:focus {
  outline: none;
}
