#game-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: rgb(142, 142, 142);
  min-height: 90vh;
  width: 70vw;
  border-radius: 25px;
  align-items: center;
  margin-bottom: 5px;
  border: solid black;
 margin: 4%;
}

.game-card {
  width: 200px;
  height: 300px;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  margin: 10px;  /* Adjust margin as needed */
}

.game-card:hover {
  transform: scale(1.1) translateY(-20px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 10000;
}

#hover-title {
  display: flex;
 
  align-items: center;
  justify-content: center;
  height: 75px;
  width: 200px;
  background-color: rgb(65, 65, 65);
  cursor: pointer;
}

