/* navBar.css */


.SideNavBar {
  height: 100vh;
  width: 200px;
  position: fixed;
  top: 0;
  left: 0;  /*was -20px to keep off screen*/
  background-color: #151415;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding-top: 70px; 
  z-index: 1000;
  transition: left 0.3s ease; 
}

.SideNavBar:hover{
  left:0;
}
.SideNavBar-items {
  padding-top: 20px;
 
}

.SideNavBar-link {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 10px;
 
}


.ShowNavButton {
  position: fixed;
  top: 0px;
  left: 10px;
  cursor: pointer;
  font-size: 30px;
 
}

.ShowNavButton:hover + .SideNavBar,
.SideNavBar:hover {
  left: 0;
}

.SearchBar{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
}
