.NavBar{
    
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content:space-around;
        align-items: center;
        background-color: #f5f5f5;
      
      }
      
      .Navbar-link {
        color: black;
      }

      .Navbar-link:hover{
        color:red;
      }
      
