.NavBar{
    
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content:space-around;
        align-items: center;
        background-color: #151415;
        z-index: 1000;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
      
      }
      
      .Navbar-link {
        color: rgb(11, 5, 5);
        text-shadow:-1px -1px 0 lightblue, 1px -1px 0 lightblue, -1px 1px 0 lightblue, 1px 1px 0 lightblue;
      
      }
      

      .Navbar-link:hover{
        color:rgb(4, 4, 4);
        text-shadow: -1px -1px 0 magenta, 1px -1px 0 magenta, -1px 1px 0 magenta, 1px 1px 0 magenta; }
      

    

      

      
      
